@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  position: relative;
}

header .local {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 50px;
  text-shadow: 0 0 5px darkgray;
  background: linear-gradient(90deg, #9d96e4 0.5%, #161355 100%);
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
header .local .btn {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
header .local .btn:hover {
  color: blue;
  background-color: white;
}
header .local .btn.invert {
  background-color: white;
  color: blue;
  transition: 0.3s ease-in-out;
}
header .local .btn.invert:hover {
  background-color: #eb528d;
  color: white;
}
header .local .text {
  font-size: 14px;
}
header .local .text .geolocation {
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white, 0 0 8px white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
}
.main p {
  margin: 7px 15px;
  max-width: 1200px;
}
.main img {
  width: 500px;
  margin: 25px 0;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637);
  top: -100%;
  left: 0;
  transition: 0.3s ease-in-out;
}
.modal .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 400px;
  height: 360px;
  top: calc(50% - 360px);
  left: calc(50% - 200px);
  border: 1px solid rgba(0, 0, 0, 0.418);
  background-color: #e7e7e7;
}
.modal .card .cep {
  text-align: center;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 45px 0 15px;
}
.modal .card .cep:focus-visible {
  outline: none;
}
.modal .card .cep.erro {
  color: red;
  font-weight: bold;
}
.modal .card #buscar {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #310d0d;
  border: 1px solid #000;
  color: white;
  transition: 0.3s ease-in-out;
}
.modal .card #buscar:hover {
  transform: scale(1.04);
  background-color: white;
  color: #310d0d;
  font-weight: bold;
}
.modal .card #geo {
  padding: 5px 10px;
  margin-top: 20px;
  background-color: rgba(49, 13, 13, 0.904);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal .card #geo:hover {
  transform: scale(1.04);
  background-color: white;
  color: #310d0d;
  font-weight: bold;
  border: 1px solid #000;
}
.modal .card #fechar {
  position: absolute;
  top: -20px;
  right: -15px;
  background-color: #77758b;
  border: 5px solid #1b1b1b;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.modal .card #fechar:hover {
  transform: rotate(270deg);
}

.modal.active {
  top: 0;
}/*# sourceMappingURL=style.css.map */